<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/static.css">
    <link rel="stylesheet" href="/assets/stylesheets/reply.css">
    <link rel="stylesheet" href="/assets/libraries/fakeLoader/fakeLoader.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/jquery.steps/jquery.steps.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/fakeLoader/fakeLoader.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/cleave/cleave.min.js"></script>

    <script type="text/javascript" src="/assets/js/reply.js"></script>
    <style type="text/css">
        .btn{
            margin-top: 15px;
        }
    </style>
</head>
<body>
<div id="content-wrapper">
    <div class="input-wrapper">
        <div class="container">
            <form id="step-form">
                <div>
                    <h1 class="title"><b>세부 특기사항</b>을 입력해주세요</h1>
                    <section>
                        <h1 class="title"><b>세부 특기사항</b>을 입력해주세요</h1>
                        <div id="teams_invest" class="row teams">
                            <div class="team">
                                <div class="col-xs-12">
                                    <label><b>reply</b> </label>
                                </div>
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-lg" name="name[]">
                                        <span class="input-group-addon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="left-money text-center">-->
                        <!--<h4><small>투자할 수 있는 금액이</small><br /><b>300</b>억 남았습니다</h4>-->
                        <!--</div>-->
                    </section>
                </div>
            </form>
            <button onclick="reply()" class="btn submit-btn btn-primary btn-lg btn-block">저장하기</button>
        </div>
    </div>
</div>
<script>
     var email = <%- JSON.stringify(email) %>;
     var orderUUID = <%- JSON.stringify(orderUUID) %>;
</script>
</body>
</html>